<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">主页</a></li>
<li><a href="/about">关于</a></li>
<li><a href="/cv">简历</a></li>
<li><a href="/blog">日志</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:wangjunchen@cug.deu.cn">email</a></li>
   <li><a href="https://github.com/WangJunChen567">github主页</a></li>
   </ul>
  </footer>
  </body>

</html>
